body {
  margin: 0 auto;
  padding: 0;
  background-color: white;
  color: black;
  width: 70%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 5px 30px;
  background-color: navy;
}

header h1 a {
  color: white;
}

header h1 a:hover {
  text-decoration: none;
}

main {
  padding: 20px;
}

div#search-box {
  margin-left: 40px;
}

table {
  margin: 20px 0px;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

tr td div {
  margin-left: 20px;
  font-family: sans-serif;
}

tr td div.book-title {
  font-size: 120%;
}

tr td div.book-author {
  padding-left: 20px;
}

table#book-detail tr {
  height: 50px;
}

tr th.detail-name {
  width: 30%;
  padding-left: 20px;
  text-align: left;
}

tr td.detail-value {
  width: 70%;
}
