<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <div>
      <ul>
        <% @books.each do |book| %>
        <li><%= book.title %> (<%= book.author %>)</li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
